@page
@model WebApp.Pages.SubjectSemesters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubjectSemester</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectSemester.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectSemester.Subject.SubjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectSemester.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectSemester.Semester.SemesterName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubjectSemester.SubjectSemesterId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
